## Imports/Read CSV

In [1]:
from apiclient.discovery import build
import pandas as pd
import pickle

In [2]:
tub_df = pd.read_csv('Tubular_Video_IDs.csv')

In [3]:
sub_df = tub_df.iloc[0:1200, 0:4]

## API Key and Build Method

In [4]:
api_key = "API Key"

In [5]:
youtube = build('youtube', 'v3', developerKey=api_key)

## Practice creating DF

In [6]:
sub_df.head()

,Video_Title,YouTube_Video_ID,Video_URL,Creator
0,Billie Eilish Goes Sneaker Shopping With Complex,EvdzQdnZPcw,https://www.youtube.com/watch?v=EvdzQdnZPcw,Complex
1,I Broke Dumb Laws In Front Of Police,vDBzi0n9Fxg,https://www.youtube.com/watch?v=vDBzi0n9Fxg,VICE
2,Black Dads Try Other Black Dads' Barbecue,E991yX1WiEI,https://www.youtube.com/watch?v=E991yX1WiEI,BuzzFeedVideo
3,I Got a Haircut from One of Yelp’s Worst-Rated...,QqZBC60vuhM,https://www.youtube.com/watch?v=QqZBC60vuhM,VICE
4,Lil Pump Goes Sneaker Shopping With Complex,K5A238it4Rg,https://www.youtube.com/watch?v=K5A238it4Rg,Complex

In [7]:
col = ['viewCount', 'likeCount', 'dislikeCount', 'favoriteCount', 'commentCount']



yt_df = pd.DataFrame(columns = col)

In [ ]:
#This somehow broke, and is no longer working, would need to go step by step. 

for i in range(0,len(tub_df),51):
    ids = tub_df['YouTube_Video_ID'].iloc[i:i+50]
    
    s = ","
    s = s.join(list(ids))
    
    res = youtube.videos().list(id = s, 
                            part = 'statistics',
                           maxResults=50).execute()
        
    
    for num in range(len(res['items'])):
        yt_df = yt_df.append(pd.DataFrame(res['items'][num]['statistics'], [num]))

In [9]:
s

','

In [114]:
pickle.dump(yt_df, open ('tub_id.pickle', 'wb'))

In [117]:
yt_df.head(50)

   commentCount dislikeCount favoriteCount likeCount viewCount
0         30827        13444             0    417867  17496063
1         26328        18228             0    506015  14863719
2         20864        14094             0    241686  12963651
3         15607        12184             0    130766  12458140
4         20821        13090             0    229815  11093354
5         28103         7278             0    239205  10289493
6         14607         3340             0     93499   9558837
7           422         3728             0      7465   8306089
8         13990         4878             0    109713   8175698
9         12631         3273             0     93715   7877597
10        13860         6144             0    149457   7788032
11         8625         3825             0    131034   7436878
12        33248         8178             0     67697   7349073
13        10943         4304             0    206156   6835242
14         6410         3171             0     96024   6527796
15        20494         2648             0    189100   6579270
16         9471         2892             0     60621   6453614
17         4869         2156             0    109542   6786530
18         4118         2558             0    100464   5782627
19         2682         2984             0     72587   5861924
20         6000         3462             0     97483   5827938
21         9834         3768             0    122987   5676924
22         3301         1487             0     51414   5633929
23         4646         1567             0    104130   5482656
24        11694         2950             0    224503   5497617
25         7638         4477             0     73751   5287657
26         5348         2987             0    128987   5212538
27        10788         3171             0    115027   4925634
28         7428         3944             0     56542   4605483
29         5009         3509             0     49988   4476690
30         9062         1962             0     29941   4448480
31        11060         2090             0    109567   4533613
32        67048         9516             0    151703   4390571
33         9441         2828             0     67428   4370397
34         5564         1898             0     53997   4374259
35         2507         1965             0     54341   4361914
36         5099         5468             0     60932   4272695
37        58697         5057             0    113078   4116550
38         7019         3328             0     75050   4032459
39         2805         1156             0     71790   4162731
40        32840         3580             0     62124   3979752
41         8451         4180             0     58022   4008619
42         2626         1230             0     31374   3883714
43         4580         2961             0     53016   3925901
44        18488         2335             0     71206   3822011
45         4708         4381             0     51549   3805294
46         9819         2204             0     80449   3729178
47         2629         1265             0     83332   3757776
48         3533         1419             0     60900   3600568
0          6167         1427             0     67993   3570154

In [98]:
len(sub_df)

1200

In [73]:
s = ","
s = s.join(list(ids))

In [74]:
res = youtube.videos().list(id = s, 
                            part = 'statistics',
                           maxResults=50).execute()

In [75]:
col = ['viewCount', 'likeCount', 'dislikeCount', 'favoriteCount', 'commentCount']
    
yt_df = pd.DataFrame(columns = col)

In [76]:
for i in range(len(res['items'])):
    yt_df = yt_df.append(pd.DataFrame(res['items'][i]['statistics'], [i]))

In [77]:
yt_df

   viewCount likeCount dislikeCount favoriteCount commentCount
0   17495193    417855        13443             0        30827
1   14863284    505977        18228             0        26328
2   12963348    241679        14094             0        20863
3   12458014    130765        12184             0        15607
4   11093141    229810        13090             0        20820
5   10289302    239203         7278             0        28103
6    9558813     93499         3340             0        14607
7    8306088      7465         3728             0          422
8    8175482    109704         4878             0        13990
9    7877506     93714         3273             0        12631
10   7787748    149454         6144             0        13860
11   7436688    131031         3825             0         8625
12   7348821     67694         8178             0        33245
13   6835062    206151         4304             0        10943
14   6527714     96023         3170             0         6410
15   6578971    189089         2648             0        20494
16   6453488     60620         2892             0         9471
17   6785792    109498         2155             0         4869
18   5782579    100463         2558             0         4118
19   5861784     72583         2984             0         2682
20   5827503     97476         3462             0         6000
21   5676813    122984         3768             0         9834
22   5633865     51414         1487             0         3301
23   5482594    104127         1567             0         4646
24   5497520    224499         2950             0        11693
25   5287611     73750         4477             0         7638
26   5212454    128984         2987             0         5348
27   4925537    115027         3171             0        10787
28   4605441     56539         3944             0         7428
29   4476681     49988         3509             0         5009
30   4448477     29941         1962             0         9062
31   4533414    109562         2090             0        11060
32   4390496    151699         9516             0        67047
33   4370309     67428         2828             0         9441
34   4374169     53995         1898             0         5564
35   4361832     54341         1965             0         2507
36   4272649     60932         5468             0         5099
37   4116461    113075         5057             0        58700
38   4032405     75049         3328             0         7019
39   4162508     71783         1156             0         2805
40   3979735     62124         3580             0        32840
41   4008569     58021         4180             0         8451
42   3883665     31374         1230             0         2626
43   3925828     53015         2960             0         4581
44   3821914     71206         2335             0        18488
45   3805266     51548         4381             0         4708
46   3729114     80448         2204             0         9818
47   3757612     83329         1265             0         2629
48   3600419     60898         1419             0         3533

## Unpickled